/*aside */
aside {
  width: 60%;
  padding: 10px;
  background-color: #343a4057;
  @include flexElement(none, center);
  .tracker_info {
    @include flexElement(none, center);
    padding: 0 10px;
    height: 98%;
    width: 100%;
    justify-content: center;
    background-image: linear-gradient(#e8efea, #ffff0045);
    .circle_container {
      height: 132px;
      width: 356px;
      border: 1px solid #5a5a5a;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
      background-color: black;
      border-right: none;
      @include flexElement(none, center);
      justify-content: center;
    }
  }
}
aside .tracker_info .circle_container .tracker_info_button {
  border: none;
  background-color: #c7c7c7;
  padding: 39px;
  width: 329px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: $gooelFont;
  font-size: 24px;
  text-shadow: 4px 4px 4px white;
  outline: none;
}

.pole {
  width: 8%;
  height: 262px;
  @include flexElement(column, center);
}

.pole span {
  height: 33.33%;
  width: 100%;
  box-shadow: 4px 4px 4px #353434;
}
.pole span:nth-child(1) {
  background-color: #aac5c5;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.pole span:nth-child(2) {
  background-color: #484647ed;
}

.pole span:nth-child(3) {
  background-color: #868380fa;
}

.pole span:nth-child(4) {
  background-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* here flip style */
