
section {
    background-image: linear-gradient(#e8efea, #ffff0045);
    .menu_button_container {
        @include flexElement(row,center);
        margin:10px 0px 10px 10px;
        font-family: $gooelFont;
    }
    .menu_pole{
        height: 100px;
        width: 16px;
    }
    .menu_button{
        padding: 20px;
        background-color: black;
        width: 63%;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    button {
        width: 100%;
        padding: 5px;
        background-color: #c7c7c7;
        border: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .list-group{
        margin-left:10px;
        font-family: $gooelFont; 
        color:#000000;
        transform-origin: top; 
        transition:transform 1s ease-in-out;
        li{
            cursor:pointer;
            transition:text-shadow .4s ease-in;
            &:nth-child(odd){
                 background-color: #555354;    
            }
            &:nth-child(even){
                background-color: #888582;
            }
            &:hover {
                text-shadow:4px 4px 4px white;
            }
        }
    }
}

/*aside menu drop down for list group ul */ 
.active{
    transform: perspective(1000px) rotateX(-90deg);   
}

