/*-- gobal style --*/
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #15151526;
}

button {
  outline: none;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

button:hover {
  background-color: #024e9a7d;
  color: white;
}

/*----*/
.container,
.middle_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  height: 100vh;
}

/*-- 
middle box 
--*/
.middle_box {
  width: 1100px;
  height: 600px;
  -webkit-box-shadow: 4px 4px 4px black;
          box-shadow: 4px 4px 4px black;
}

.middle_box section {
  width: 40%;
}

header {
  margin: 10px 0px 0px 10px;
  border: 1px solid #5a5a5a;
  font-family: "Concert One", cursive;
  position: absolute;
  width: 234px;
}

header .actual_weight h5 {
  text-align: center;
  background-color: #f7f9cc;
  padding: 10px 0px;
  margin: 0;
}

header .weight_values {
  background-color: #c7c7c7;
  padding: 10px 10px;
}

header .motivational_message {
  padding: 10px 10px;
  background-color: #e9efe8;
}

header .span_value {
  color: red;
  font-size: 20px;
  background-color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

/*aside */
aside {
  width: 60%;
  padding: 10px;
  background-color: #343a4057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .tracker_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 98%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8efea), to(#ffff0045));
  background-image: linear-gradient(#e8efea, #ffff0045);
}

aside .tracker_info .circle_container {
  height: 132px;
  width: 356px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  background-color: #f3f7d1;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .tracker_info .circle_container .tracker_info_button {
  border: none;
  background-color: #c7c7c7;
  padding: 39px;
  width: 329px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: "Pacifico", cursive;
  font-size: 24px;
  text-shadow: 4px 4px 4px white;
  outline: none;
}

.pole {
  width: 8%;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pole span {
  height: 33.33%;
  width: 100%;
  -webkit-box-shadow: 4px 4px 4px #353434;
          box-shadow: 4px 4px 4px #353434;
}

.pole span:nth-child(1) {
  background-color: #aac5c5;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.pole span:nth-child(2) {
  background-color: #484647ed;
}

.pole span:nth-child(3) {
  background-color: #868380fa;
}

.pole span:nth-child(4) {
  background-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* here flip style */
section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8efea), to(#ffff0045));
  background-image: linear-gradient(#e8efea, #ffff0045);
}

section .menu_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 10px 10px;
  font-family: "Pacifico", cursive;
}

section .menu_pole {
  height: 100px;
  width: 16px;
}

section .menu_button {
  padding: 20px;
  background-color: #f3f7d1;
  width: 63%;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

section button {
  width: 100%;
  padding: 5px;
  background-color: #c7c7c7;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

section .list-group {
  margin-left: 10px;
  font-family: "Pacifico", cursive;
  color: #000000;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

section .list-group li {
  cursor: pointer;
  -webkit-transition: text-shadow .4s ease-in;
  transition: text-shadow .4s ease-in;
}

section .list-group li:nth-child(odd) {
  background-color: #85640454;
}

section .list-group li:nth-child(even) {
  background-color: #8885822e;
}

section .list-group li:hover {
  text-shadow: 4px 4px 4px white;
}

section .list-group li a {
  text-decoration: none;
  color: black;
}

/*aside menu drop down for list group ul */
.active {
  -webkit-transform: perspective(1000px) rotateX(-90deg);
          transform: perspective(1000px) rotateX(-90deg);
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group:first-child {
  margin-bottom: 20px;
}
/*# sourceMappingURL=index.css.map */