/*-- gobal style --*/
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----*/
.container,
.middle_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  height: 100vh;
}

/*-- 
middle box 
--*/
.middle_box {
  border: 1px solid #5a5a5a;
  width: 1100px;
  height: 600px;
}

.middle_box section {
  width: 40%;
}

/*aside */
aside {
  width: 60%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: none;
  flex-direction: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

aside .tracker_info {
  padding: 0 10px;
  height: 98%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: none;
  flex-direction: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ecececad;
}

aside .tracker_info .circle_container {
  width: 58%;
  border: 1px solid #5a5a5a;
  height: 23%;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  background-color: black;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: none;
  flex-direction: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

aside .tracker_info .circle_container .tracker_info_button {
  border: none;
  background-color: #c7c7c7;
  padding: 39px;
  width: 329px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: "Pacifico", cursive;
  font-size: 24px;
  text-shadow: 4px 4px 4px white;
}

aside .tracker_info .pole {
  width: 8%;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

aside .tracker_info .pole span {
  height: 33.33%;
  width: 100%;
  -webkit-box-shadow: 4px 4px 4px #353434;
  box-shadow: 4px 4px 4px #353434;
}

aside .tracker_info .pole span:nth-child(1) {
  background-color: #aac5c5;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

aside .tracker_info .pole span:nth-child(2) {
  background-color: #484647ed;
}

aside .tracker_info .pole span:nth-child(3) {
  background-color: #868380fa;
}

aside .tracker_info .pole span:nth-child(4) {
  background-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/*# sourceMappingURL=index.css.map */
